.app__container {
    background-color: #f5f5f5;
}
.app__contain {
    padding-top: 24px;
}
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}
.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}
.category-item__active.category-item__link {
    color: var(--primary-color);
}
.category-item {
    position: relative;
}
.category-item:first-child:before {
    display: none;
}
.category-item::before {
    content: '';
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 0;
    left: 20px;
    right: 20px;
}
.category-item__link {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}
.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}
